<%- include("./partials/header") %>

<div class="container-sm addnote-container">
    <h1>Add Note!</h1>
    <a href="/" class="btn btn-lg btn-primary">Go Back</a>
    <div class="container addnote-inner-container">
        <form action="/addnote" method="POST" id="newnoteform">
            <label for="title" class="title-label">Title:</label>
            <input type="text" id="title" name="newnote[title]" placeholder="Do Homework!">
            <label for="body" class="body-label">Body:</label>
            <textarea name="newnote[body]" id="body" cols="45" rows="10" placeholder="Do maths, science..."></textarea>
            <button class="btn btn-lg btn-success">Submit</button>
        </form>
    </div>
</div>

<%- include("./partials/footer") %>